<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-68">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Small Group Training</span>
            <h2 class="cs-title">Make your circle healthier together</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa ut sed odio cursus. Malesuada scelerisque eget eu, sollicitudin tellus nibh aenean enim sed. Ut vitae eget commodo consectetur felis augue. Condimentum pellentesque sed aliquet leo in potenti libero.
            </p>
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="https://images.unsplash.com/photo-1506508618093-6fe5ce3def4c?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <source media="(min-width: 601px)" srcset="https://images.unsplash.com/photo-1506508618093-6fe5ce3def4c?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
            <img loading="lazy" decoding="async" src="https://images.unsplash.com/photo-1506508618093-6fe5ce3def4c?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="body builder" width="500" height="552" aria-hidden="true">
        </picture>
    </div>
</section>
<style>
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-68 {
        padding: var(--sectionPadding);
    }
    #sbs-68 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbs-68 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbs-68 .cs-text {
        margin-bottom: 1rem;
    }
    #sbs-68 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbs-68 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #sbs-68 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #sbs-68 .cs-button-solid:hover:before {
        width: 100%;
    }
    #sbs-68 .cs-picture {
        width: 95%;
        max-width: 34.375rem;
        margin: 0;
        position: relative;
        display: block;
        /* width divided by height */
        aspect-ratio: 0.93134328;
        border-radius: 1rem;
        z-index: 1;
    }
    #sbs-68 .cs-picture:before {
        /* Top right box */
        content: "";
        width: 10rem;
        /* 202px - 248px */
        height: clamp(12.625rem, 25vw, 15.5rem);
        background: #1a1a1a;
        opacity: 1;
        border-radius: 1rem;
        position: absolute;
        display: block;
        /* 16px -20px */
        /* wrapped in a calc function to get a negative clamp value */
        top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
        right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
    }
    #sbs-68 .cs-picture:after {
        /* Bottom left box */
        content: "";
        width: 10rem;
        /* 202px - 248px */
        height: clamp(12.625rem, 25vw, 15.5rem);
        background: #1a1a1a;
        opacity: 1;
        border-radius: 1rem;
        position: absolute;
        display: block;
        /* 16px -20px */
        /* wrapped in a calc function to get a negative clamp value */
        bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
        left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
        z-index: -1;
    }
    #sbs-68 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-68 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: flex-start;
        /* 60px - 128px */
        gap: clamp(3.75rem, 9.5vw, 8rem);
    }
    #sbs-68 .cs-picture {
        /* 328px - 502px */
        width: clamp(20.5rem, 37.5vw, 31.375rem);
        /* 440px - 520px */
        height: clamp(27.5rem, 40vw, 32.5rem);
        /* 16px - 20px */
        margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
        flex: none;
    }
    #sbs-68 .cs-content {
        width: 45%;
    }
}

                                    
</style>                              